<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> han impedido que este enlace se guarde:</h2>
      <ul>
        <% link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :link_name, "Nombre del enlace:", style: "display: block" %>
    <%= form.text_field :link_name %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>
  <div>
    <%= form.label :link_type, "Tipo de enlace:", style: "display: block" %>
    <%= form.select :link_type, options_for_select([
  [I18n.t('link_types.public_link'), 'public_link'],
  [I18n.t('link_types.private_link'), 'private_link'],
  [I18n.t('link_types.ephemeral_link'), 'ephemeral_link'],
  [I18n.t('link_types.temporal_link'), 'temporal_link']
], selected: @link.link_type), {}, class: 'link-type-select' %>

  </div>
  
  <div id="expires_at_field" style="<%= link.temporal_link? ? '' : 'display: none;' %>">
    <%= form.label :expires_at, "Expira:", style: "display: block" %>
    <%= form.datetime_field :expires_at %>
  </div>

  <div id="link_password_field" style="<%= link.private_link? ? '' : 'display: none;' %>">
    <%= form.label :link_password, "Contraseña:", style: "display: block" %>
    <%= form.password_field :link_password %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <script>
  $(document).ready(function() {
    function toggleFields(selectedType) {
      $('#expires_at_field').toggle(selectedType === 'temporal_link');
      $('#link_password_field').toggle(selectedType === 'private_link');
    }

    $('.link-type-select').change(function() {
      var selectedType = $(this).val();
      toggleFields(selectedType);
    });

    // Show/hide fields based on the default selected value
    var defaultSelectedType = $('.link-type-select').val();
    toggleFields(defaultSelectedType);
  });
</script>


<% end %>
