<%= form_with(model: link) do |form| %>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :link_type, style: "display: block" %>
    <%= form.select :link_type, options_for_select(['regular', 'private', 'ephimeral']), {}, class: 'link-type-select' %>
  </div>
  
  <div id="expires_at_field" style="display: none;">
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.datetime_field :expires_at %>
  </div>

  <div id="link_password_field" style="display: none;">
    <%= form.label :link_password, style: "display: block" %>
    <%= form.text_field :link_password %>
  </div>

  <div>
    <%= form.submit %>
  </div>


<script>
  $(document).ready(function() {
    $('.link-type-select').change(function() {
      var selectedType = $(this).val();
      
      if (selectedType === 'regular') {
        $('#expires_at_field').hide();
        $('#link_password_field').hide();
      } else if (selectedType === 'private') {
        $('#expires_at_field').hide();
        $('#link_password_field').show();
      } else if (selectedType === 'ephimeral') {
        $('#expires_at_field').show();
        $('#link_password_field').hide();
      }
    });
  });
</script>

<% end %>