<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> han impedido que este enlace se guarde:</h2>
      <ul>
        <% link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :link_name, "Nombre del enlace:", style: "display: block" %>
    <%= form.text_field :link_name %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>
  <div>
    <%= form.label :link_type, "Tipo de enlace:", style: "display: block" %>
    <%= form.select :link_type, options_for_select([
  [I18n.t('link_types.regular'), 'regular'],
  [I18n.t('link_types.private'), 'private'],
  [I18n.t('link_types.ephemeral'), 'ephemeral'],
  [I18n.t('link_types.temporal'), 'temporal']
], selected: @link.link_type), {}, class: 'link-type-select' %>

  </div>
  
  <div id="expires_at_field" style="<%= link.link_type == 'temporal' ? '' : 'display: none;' %>">
    <%= form.label :expires_at, "Expira:", style: "display: block" %>
    <%= form.datetime_field :expires_at %>
  </div>

  <div id="link_password_field" style="<%= link.link_type == 'private' ? '' : 'display: none;' %>">
    <%= form.label :link_password, "Contraseña:", style: "display: block" %>
    <%= form.text_field :link_password %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <script>
    $(document).ready(function() {
      $('.link-type-select').change(function() {
        var selectedType = $(this).val();
        
        if (selectedType === 'regular' || selectedType === 'ephemeral') {
          $('#expires_at_field').hide();
          $('#link_password_field').hide();
        } else if (selectedType === 'private') {
          $('#expires_at_field').hide();
          $('#link_password_field').show();
        } else if (selectedType === 'temporal') {
          $('#expires_at_field').show();
          $('#link_password_field').hide();
        }
      });

      // Show/hide fields based on the default selected value
      var defaultSelectedType = $('.link-type-select').val();
      if (defaultSelectedType === 'regular'|| defaultSelectedType === 'ephemeral') {
        $('#expires_at_field').hide();
        $('#link_password_field').hide();
      } else if (defaultSelectedType === 'private') {
        $('#expires_at_field').hide();
        $('#link_password_field').show();
      } else if (defaultSelectedType === 'temporal') {
        $('#expires_at_field').show();
        $('#link_password_field').hide();
      }
    });
  </script>

<% end %>
