<div id="<%= dom_id link %>">
  <p>
    <strong>Nombre de link:</strong>
    <%= link.link_name %>
  </p>
  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Tipo de link:</strong>
    <%= link.link_type %>
  </p>

  <% if link.private_link? %>
    <p>
      <strong>Contraseña de link:</strong>
      <%= link.link_password %>
    </p>
  <% elsif link.ephemeral_link? %>
    <p>
      <strong>Expira:</strong>
      <%= link.expires_at %>
    </p>
  <% end %>

  <p>
    <strong>Link acortado:</strong>
    <%= request.protocol + request.host_with_port + "/l/" +link.unique_token %>
  </p>
</div>

