<% content_for :head do %>
  <%= stylesheet_link_tag "layouts/links", "data-turbo-track": "reload" %>
<% end %>
<%= content_for :page_title do %>Listado de Links | Chq.To<%end %>

<div>
  <h1>Lista de Links</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Url</th>
          <th>Tipo de link</th>
          <th>Link acortado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <td><%= link.link_name %></td>
            <td><%= link_to link.url, link.url %></td>
            <td><%= t("link_types.#{link.link_type}") %></td>
            <td id="link_<%= link.id %>"><%= request.protocol + request.host_with_port + "/l/" + link.unique_token %></td>
            <td>
              <%= link_to "Visitas", link_path(link), class: "button button-primary" %>
              <%= link_to "Editar", edit_link_path(link), class: "button button-secondary button-warning" %>
              <%= link_to "Eliminar", link, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "button button-secondary button-error" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

  <div class="link-container">
    <a href="<%= new_link_path %>" class="button button-success">Nuevo link</a>
  </div>
</div>