<h1>Lista de Links</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Url</th>
        <th>Tipo de link</th>
        <th>Link acortado</th>
        <th>Acciones</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td> <%= link.link_name %> </td>
          <td> <%= link.url %> </td>
          <td> <%= t("link_types.#{link.link_type}") %> </td>

          <td> <%= request.protocol + request.host_with_port + "/l/" +link.unique_token %></td>
          <td> <%= link_to "Detalles", link_path(link) %> </td>
          <td> <%= link_to "Editar", edit_link_path(link) %> </td> 
          <td> <%= link_to "Eliminar", link, method: :delete %> </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
  
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<a href="<%= new_link_path %>">
<%= link_to "Nuevo link", new_link_path %>

