<h1>Lista de Links</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Url</th>
        <th>Link type</th>
        <th>cantidad de accesos</th>
        <th> acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td> <%= link.url %> </td>
          <td> <%= link.link_type %> </td>
          <td> <%= link.access_count %></td>
          <td> <%= link_to "Detalles", link_path(link) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<a href="<%= new_link_path %>">
<%= link_to "New link", new_link_path %>