<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= form_with(url: request.path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :password, "Contraseña" %>
    <%= form.password_field :password %>
  </div>
  <div class="actions">
    <%= form.submit "Acceder" %>
  </div>
<% end %>
