<% content_for :head do %>
  <%= stylesheet_link_tag "layouts/links", "data-turbo-track": "reload" %>
<% end %>

<div class="flex flex-col mx-auto">
  <h1>Información de Visitas</h1>
  <div class="flex flex-col items-center gap-4">
    <%= form_with(url: request.path, method: :get) do |form| %>
      <%= form.text_field :ip_address, value: params[:ip_address], placeholder: "Buscar por IP" %>
      <%= form.label :start_date, "Inicio" %>
      <%= form.date_field :start_date, value: params[:start_date] %>
      <%= form.label :end_date, "Fin" %>
      <%= form.date_field :end_date, value: params[:end_date] %>
      <%= form.submit "Buscar" %>
    <% end %>

    <% if @visit_infos.present? %>
      <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Dirección IP</th>
                <th>Fue visitado</th>
              </tr>
            </thead>
            <tbody>
              <% @visit_infos.each do |visit_info| %>
                <tr>
                  <td><%= visit_info.ip_address %></td>
                  <td><%= visit_info.visited_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    <% else %>
      <p>No hay datos de visitas por día para este enlace.</p>
    <% end %>

    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

    <h2>Cantidad de Visitas por Día</h2>

    <p><strong>Cantidad de días:</strong> <%= @days %></p>

    <p><strong> Cantidad de visitas:</strong>
      <% if @total_visits %>
        <%= @total_visits %> visitas
      <% else %>
        No hay visitas registradas aún
      <% end %>
    </p>

    <p><strong>Promedio de visitas por día:</strong>
      <% if @average_visits_per_day %>
        <%= @average_visits_per_day.round(2) %> visitas
      <% else %>
        No hay visitas registradas aún
      <% end %>
    </p>

    <div class="link-container">
      <a href="<%= links_path %>" class="button button-primary">Volver a links</a>
    </div>
  </div>
</div>