<%= content_for :page_title do %>Iniciar Sesion | Chq.To<%end %>

<div class="auth-container">
  <h1>Iniciar Sesión</h1>
  <div class="auth-form">
    <%= flash[:alert] %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :login, "Usuario o Correo" %>
        <%= f.text_field :login %>
      </div>

      <div class="field">
        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="remember-me">
            <%= f.label :remember_me, "Recordarme" %>
            <%= f.check_box :remember_me %>
          </div>
        </div>

      <% end %>

      <div class="actions">
        <%= f.submit "Confirmar" %>
        <div class="separator">o</div>
        <div class="separator">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>