<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChqTo</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  
  <style>
    body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 0;
      padding: 0;
      background-color: white;
      color: #333;
    }
    header, main, footer {
      padding: 20px;
      background-color: white;
    }
    header {
      border-bottom: 2px solid #00A707;
      display: flex;
      justify-content: flex-end;
    }
    .custom-dropdown {
      position: relative;
      display: flex;
      cursor: pointer;
      align-items: end;
      flex-direction: column;
      gap: 4px;
    }
    .custom-dropdown-button {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 5px;
        background-color: #0DA7D0;
        color: white;
        text-align: center;
    }
    .custom-dropdown-button:hover {
        background-color: #0C99BE;
    }
    .custom-dropdown.active .custom-dropdown-content {
      display: block;
      top: 100%;
      left: 20px;
      width: max-content;
      max-height: 200px;
      overflow-y: auto;
      position: absolute;
    }
    
    .custom-dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      background-color: #8BE2F9;
      color: black;
      border-radius: 5px;
    }
    .custom-dropdown-item:first-child {
      margin-bottom: 2px;
    }
    .custom-dropdown-item:hover {
      opacity: 0.75;
    }
  </style>
</head>

<body>
  <header>
    <div class="custom-dropdown" onclick="toggleCustomDropdown()">
      <span class="custom-dropdown-button">Menú</span>
      <div class="custom-dropdown-content" id="custom-dropdown-content" style="display: none;">
        <%= link_to "Cerrar Sesión", destroy_user_session_path, data: { turbo_method: :delete }, class: "custom-dropdown-item" %>
        <%= link_to "Eliminar cuenta", user_registration_path, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "custom-dropdown-item" %>
      </div>
    </div>
  </header>

  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </main>

  <script>
    function toggleCustomDropdown() {
      var customDropdownContent = document.getElementById('custom-dropdown-content');
      customDropdownContent.style.display === 'block' ? customDropdownContent.style.display = 'none' : customDropdownContent.style.display = 'block';
    }

    document.addEventListener('click', function(event) {
      var customDropdownContent = document.getElementById('custom-dropdown-content');
      var customDropdown = document.querySelector('.custom-dropdown');

      if (!customDropdown.contains(event.target)) {
        customDropdownContent.style.display = 'none';
      }
    });
  </script>
</body>
</html>