<!DOCTYPE html>
<html>
  <head>
    <title>ChqTo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
      <a href="<%= links_path %>">
      <span>Links</span></a>
    
    <%= link_to "Cerrar Sesion", destroy_user_session_path, data: {turbo_method: :delete} %>
  </body>
</html>
